{% load static %}

<div class="header"><img src="{% static 'img/logo.jpg' %}" alt="label">
    <ul class="menu">
        <li><a href="{% url 'main:index' %}">Главная</a></li>
        <li><a href="{% url 'main:catalog' %}">Каталог</a></li>
        <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:profile' %}">
                {{ user.first_name|default:'Пользователь' }}
            </a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:logout' %}">Выход</a></li>
        {% else %}
            <li><a href="{% url 'auth:login' %}">Вход</a></li>
        {% endif %}
    </ul>


    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>
