{% load static %}

<div class="header"><img src="{% static 'img/logo.jpg' %}" alt="label">
    <ul class="menu">
        <li><a href="{% url 'main:index' %}">Главная</a></li>
        <li><a href="{% url 'main:catalog' %}">Каталог</a></li>
        <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
    </ul>

    {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">выход</a>
    {% else %}
        <a href="{% url 'auth:login' %}">вход</a>
    {% endif %}

    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>
