<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="header"><img src="/static/img/logo.jpg" alt="label">
    <ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/catalog/">Каталог</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul>
</div>
<hr>
<h1>Каталог</h1>
<figure><img src="/static/img/sv_kolbasa.jpg" width="300" height="200" alt="sv_kolbasa">
    <figcaption><a href="#">Колбаса сыровяленая &quot;Сальчичон&quot;</a></figcaption>
</figure>
<figure><img src="/static/img/var_kolbasa.jpg" width="300" height="200" alt="var_kolbasa">
    <figcaption><a href="#">Колбаса вареная &quot;Докторская&quot;</a></figcaption>
</figure>
<hr style="clear: both">
<div class="footer"><small>&copy;&nbsp;Все права защищены</small></div>
</body>

</html>