{% extends 'mainapp/common.html' %}

{% load static %}

{% block content %}
    {% include 'mainapp/includes/inc__menu.html' %}
    <hr>
    <h1>Каталог</h1>
    <div class="links clearfix">
        <ul class="links-menu">
            {% for category in categories %}
                <li><a href="#">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <figure><img src="{% static 'img/sv_kolbasa.jpg' %}" width="300" height="200" alt="sv_kolbasa">
        <figcaption><a href="#">Колбаса сыровяленая &quot;Сальчичон&quot;</a></figcaption>
    </figure>
    <figure><img src="{% static 'img/var_kolbasa.jpg' %}" width="300" height="200" alt="var_kolbasa">
        <figcaption><a href="#">Колбаса вареная &quot;Докторская&quot;</a></figcaption>
    </figure>

{% endblock %}
