<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="style.css"> </head>

<body>
    <div class="header"> <img src="img/logo.jpg" alt="label">
        <ul class="menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
    <hr>
    <h2 style="text-align: left; font-family: sans-serif">Напишите нам</h2>
    <form action="#">
        <p id="name">Имя
            <br>
            <input type="text" placeholder="Имя"> </p>
        <p id="mail">Email
            <br>
            <input type="email" placeholder="Email"> </p>
        <p id="theme">Тема
            <br>
            <input type="text" size="30" placeholder="Тема"> </p>
        <p id="text">Текст обращения</p>
        <p class="comment">
            <textarea cols="50" rows="15"></textarea>
        </p>
        <p>
            <input type="submit" value="Отправить сообщение">
            <input type="reset" value="Очистить форму"> </p>
    </form>
    <h3>Адрес</h3>
    <p> 634034, Россия, Томская область, г. Томск, ул. Лыткина, д.3А
        <br>+7 (3822) 81-17-19
        <br>info@domkol.ru
        <br>Мы&nbsp;работаем ПН-ВС с&nbsp;10-00 до&nbsp;22-00 </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1292.1857193912474!2d84.97135414025512!3d56.45401161186794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1591346743082!5m2!1sru!2sru" width="100%" height="374px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <hr>
    <div class="footer"> <small>&copy;&nbsp;Все права защищены</small> </div>
</body>

</html>