<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Cured sausage</title>
    <link rel="stylesheet" href="style.css"> </head>

<body>
    <div class="header"> <img src="img/logo.jpg" alt="label">
        <ul class="menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="catalog.html">Каталог</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </div>
    <hr>
    <h1 style="font-family: cursive; text-align: center;">Колбаса сыровяленая &quot;Сальчичон&quot;</h1>
    <a href="img/sv_kolbasa.jpg" target="_blank"><img src="img/sv_kolbasa.jpg" width="350" height="233" alt="cured sausage"></a>
    <h3 class="text_header">Описание товара</h3>
    <p class="short_description">Вкус сыровяленой колбасы могут по достоинству оценить только настоящие гурманы!</p>
    <h3 class="text_header" style="clear: both">Характеристики товара</h3>
    <p> <b>Авторская рецептура<br>Пищевая и энергетическая ценность:</b>
        <br> <small>
            <i>В 100 г продукта</i>
        </small> </p>
    <ul class="product_characteristics">
        <li>белок..........<i>15 г</i></li>
        <li>жир............<i>45 г</i></li>
        <li>калорийность...<i>465 ккал</i></li>
    </ul>
    <p class="full_description"> <b>Состав:</b>
        <br> свинина, нитритная соль, глюкоза, специи натуральные (мускатный орех, перец душистый, перец черный, чеснок), дрожжевые культуры. </p>
    <table class="box_cured_sausage">
        <tr>
            <td><i>Оболочка:</i><br><b>натуральная</b></td>
            <td><i>t&deg; хранения:</i><br><b>0&nbsp;-&nbsp;6&nbsp;&deg;C</b></td>
            <td><i>Упаковка:</i><br><b>МГС</b></td>
        </tr>
        <tr>
            <td><i>Вес нетто:</i><br><b>350&nbsp;г</b></td>
            <td><i>Основной ингредиент:</i><br><b>свинина</b></td>
            <td><i>Срок годности:</i><br><b>30&nbsp;суток</b></td>
        </tr>
    </table>
    <form>
        <p id="button_buy"><input type="button" value="Купить" class="buy"></p>
    </form>
    <hr>
    <div class="footer"> <small>&copy;&nbsp;Все права защищены</small> </div>
</body>

</html>