{% extends 'mainapp/common.html' %}

{% block content %}
    <div class="container">
        {% include 'mainapp/includes/inc__menu.html' %}
        <hr>
        <h1 style="text-align: center">Интернет-магазин &laquo;Домашняя колбаса&raquo;</h1>
        <p> Безупречный вкус и&nbsp;качество колбас нашего магазина рождаются в&nbsp;постоянном совершенствовании
            рецептур,
            безграничном уважении к&nbsp;покупателям и&nbsp;любви к&nbsp;собственной продукции, которой мы&nbsp;доверяем
            и&nbsp;выбираем
            для себя. Мы&nbsp;делаем все, чтобы люди получали радость и&nbsp;удовольствие от&nbsp;каждой покупки свежих
            колбас интернет-магазина &laquo;Домашняя колбаса&raquo; и&nbsp;ежедневно наслаждались их&nbsp;вкусом. </p>
    </div>
{% endblock %}
