{% extends 'mainapp/common.html' %}

{% load static %}
{% load my_tags %}

{% block content %}
    {% include 'mainapp/includes/inc__menu.html' %}
    <hr>
    {% include 'mainapp/includes/inc__catalog_menu.html' %}
    <h1 style="font-family: cursive; text-align: center;">{{ product.name }}</h1>
    <a href="{{ product.image|media_folder_products }}" target="_blank">
        <img src="{{ product.image|media_folder_products }}" width="350" height="233" alt="{{ product.name }}">
    </a>

    <p class="price"> {{ product.price }} <span>&#8381;</span></p>

    <h3 class="text_header">Описание товара</h3>
    <p class="short_description">{{ product.short_desc }}</p>

    <h3 class="text_header">Характеристики товара</h3>
    <p class="full_description">{{ product.description }}</p>

    <form>
        <p id="button_buy">
            <a href="{% url 'basket:add' product.pk %}">
                <input type="button" value="Купить" class="buy">
            </a>
        </p>
    </form>
{% endblock %}
